@import "https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,800,900";

@font-face {
  font-family: "TT Norms";
  src: url(../files/fonts/TTNorms-Regular.woff);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms";
  src: url(../files/fonts/TTNorms-Medium.woff);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms";
  src: url(../files/fonts/TTNorms-Bold.woff);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Norms";
  src: url(../files/fonts/TTNorms-ExtraBold.woff);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}