.contacts {
}
.contacts__container {
  padding: 100px 15px;
  display: flex;
  align-items: center;
  gap: 70px;
}

.contacts__block-map {
  position: relative;
  flex: 0 1 percent(731, 1170);
  padding-bottom: 50%;
}

.contacts__map {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  position: absolute;
}
.contacts-info {
  flex: 0 1 percent(386, 1170);
}
.contacts__title {
  margin-bottom: 15px;
}
.contacts-item {
  margin-top: 35px;
}
.contacts-item__title {
  font-weight: 700;
}
.contacts-item__text {
  font-size: 16px;
  margin-top: 8px;
}
.contacts__email {
  margin-top: 35px;
}
.contacts__call {
  margin-top: 35px;
}

@media (max-width: 1000px) { 
  .contacts__container {
    flex-direction: column;
  }
 }