.online-diagnostics {
  max-width: 1920px;
  position: relative;
  background: rgba(250, 250, 250, 1);
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    width: 400px;
    height: 100%;
    background: url(../images/online-diagnostics/decor-2.png) no-repeat;
    top: 0;
    right: 100px;
    z-index: -1;
    @media (max-width: 1450px) {
      right: 50px;
    }
    @media (max-width: 1200px) {
      top: unset;
      bottom: 100px;
      rotate: 90deg;
      right: 110px;
      height: 800px;
    }
  }
  @media (max-width: 1200px) {
    overflow: hidden;
  }
}

.online-diagnostics__container {
  max-width: 1150px;
  padding: 115px 15px;
  @media (max-width: 1000px) {
    & {
      // flex-direction: column;
    }
  }
}
.online-diagnostics__content {
  position: relative;
  max-width: 650px;
  @media (max-width: 1200px) {
    max-width: 100%;
  }
}

.online-diagnostics__pre-title {
  text-transform: uppercase;
  @media (max-width: 1200px) {
    text-align: center;
  }
}
.online-diagnostics__title {
  margin-top: 10px;
  @media (max-width: 1200px) {
    text-align: center;
  }
}
.online-diagnostics-problems {
  margin-top: 30px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 20px;
  @media (max-width: 1200px) {
    display: none;
  }
}
.online-diagnostics-problems__item {
  cursor: pointer;
  padding: 15px 30px;
  background: transparent;
  color: var(--main-purple);
  border: 1px solid var(--main-purple);
  border-radius: 15px;
  transition: ease-in-out 0.3s;
  @media (any-hover: hover) {
    &:hover {
      background-color: var(--main-purple);
      color: white;
    }
  }
}
.online-diagnostics__text {
  margin-top: 50px;
  font-size: 16px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  &::before {
    content: "";
    width: 34px;
    height: 34px;
    background: url(../images/danger.svg) center no-repeat;
  }
  @media (max-width: 1200px) {
    width: 100%;
    margin-top: 25px;
    text-align: center;
    justify-content: center;
  }
}
.online-diagnostics__block-img {
  position: absolute;
  top: 100px;
  right: 120px;
  &::after {
    content: "";
    position: absolute;
    bottom: 155px;
    left: 0;
    width: 80px;
    height: 80px;
    background: url(../images/square-star.svg) center no-repeat;
  }
  @media (max-width: 1450px) {
    width: 400px;
    top: 50%;
    transform: translate(0, -50%);
  }
  @media (max-width: 1200px) {
    top: unset;
    right: unset;
    width: max-content;
    position: relative;
    transform: unset;
    margin: 0 auto;
    margin-top: 20px;
    max-width: 100%;
  }
}
.online-diagnostics__img {
  max-width: 100%;
}
